<ul >
  {{#events}}
    <li>
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
        <p>{{ location }}</p>
        <p>{{ date }}</p>
        <p>{{ date }}</p>
        <button type="button" class="btn btn-primary">
            Profile <span class="badge bg-secondary">{{likes}}</span>
        <span class="visually-hidden">Likes</span>
        </button>
    </li>
  {{/events}}
</ul>